.calendar {
  width: 98%;
  margin: auto;
  font-size: 13px;
}

.calendar tr, .calendar td {
  border: 1px solid black;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.calendar td {
  width: 200px;
  height: 80px;
  padding: 20px 0px 0px 5px;
  background: lightgray;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
  height: 20 px

}

ul {
  height: 100%;
  padding: 0px 5px 0px 20px;

}

a {
  color: #17a2b8;
}
.left {
  float: left;
}

.right {
  float: right;

}

.btn {
  outline: none;
  color: black;
  background-color: transparent;
  box-shadow: 0 0 0 0;
}

.clearfix {
  margin: 15px;
}
.calendar_list{
color: red;
padding: 5px;

}
.btn btn-info right
{
color:red;
}