html,body {
    height:100%;
}
body{
	--bgcolor: #00468b;
	--textcolor: #FFFFFF;
	--footer_height: 20px;
	--context_page_color: #3A79B7;
	--global_padding_width: 10%;
	

}
@media only screen and (max-width: 600px)
{
	body{
		--global_padding_width: 0%;
	}
}
.grid{
	display:grid;
}
body {
	display: flex;
	margin: 0;
	height: 100%;
	width: 100%;
	flex-direction: column;
	color: white;
}
header{
	position: center;
	background-color: var(--bgcolor);
	height: var(--header_min_height);
	width: calc(100% - (var(--global_padding_width)*2) );
	color: var(--textcolor);
	padding-left: var(--global_padding_width);
	padding-right: var(--global_padding_width);
}
nav
{
	background-color: var(--bgcolor);
	padding-left: var(--global_padding_width);
	padding-right: var(--global_padding_width);
	color: white;

}

.context_page
{
	background-color: var(--context_page_color);
	margin-left:var(--global_padding_width);
	margin-right:var(--global_padding_width);
	position: center;
	height: 100%;
}
footer
{
	height: var(--footer_height);
	background-color: var(--bgcolor);
	width: 100%;
}
nav ul
{
	display: flex;
	flex-direction: row;
	margin:0;
	list-style:none;
	justify-content: center;
}
nav li
{
	width:100%;
	text-align:center;


}
nav a
{
	background-color: #0068A0;
	padding: 1%;
	margin-bottom:0.1%;
	margin-right:0.4%;
	text-decoration: none;
	text-transform: uppercase;
	font-size:15px;
	color: #f0f0f0;
}
.navButton:hover
{
	background-color: #FFFFFF;
	color: #000000;
}
