
#container
{
	width:80%;
	height: 100%;
	margin-left :auto;
	margin-right :auto;
	background-color:white;
}

#logo
{
	width: 100%;
	height: 120px;
	margin:0 auto;
	background-color:#00468b;
}

#header
{
	width: 150px;
	max-width:150 px;
	margin:0 auto;
}

#inputs
{
	width: 170px;
	max-width:170 px;
	margin:0 auto;
}

#button
{
	width: 85px;
	max-width:85 px;
	margin:0 auto;
}

#footer
{
	height: 25px;
	margin:0 auto;
	background-color:silver;
	text-align: center;
}


.sep
{
	padding-bottom: 15px;
}
.sep2
{
	padding-bottom: 5px;
}