body,h1,h2,h3,h4,h5,h6 {
	font-family: "Lato", sans-serif;
}

body {
  margin-bottom: 0;
}

.w3-bar,h1,button {
	font-family: "Montserrat", sans-serif;
	}

.fa-files-o,.fa-coffee {
	font-size:200px;
	color: #00468b;
}

.w3-top {
    z-index: 100;
}

.w3-bar, .mainbar {
	background-color: #00468b;
	color: white;
}

.przfooter {
	width: 100%;
	background-color: #00468b;
	height: 50px;
}

.listmain li {
  font-size: 22px;
  margin-bottom: 1%;
}

.przlogo {
        position: absolute;
        top:30px;
        left:0;
}

@media only screen and (max-width : 1270px)
    {
      .przlogo {
        display: none;
      }
    }

.inp1 {
	width: 88%;
	padding: 2%;
	margin: 2%;
	font-size: 20px;
}

#button {
	text-align: center;
}

#inputs {
	text-align: center;
}

.mess-main {
    text-align: center;
    background-color: #4685f2;
    border: 3px solid #000;
	border-radius: 40px;
	margin-bottom: 1%;
	margin-top: 3%;
}

.alert {
	background-color: #E83838;
	border: 3px solid #000;
	border-radius: 40px;
	margin-bottom: 1%;
	margin-top: 1%;
}

.logout-btn {
    float: right;
}

.usermainbar {
    background-color: #00468b;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.content-settings {
    display: flex;
    flex-direction: row;
}

.content-userdata {
    width: 55%;
    font-size: 20px;
    padding: 3%;
    border: 3px solid #000;
    border-radius: 26px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
    z-index: 1;
    text-align: center;
}

.content-userdata-title {
    width: 100%;
    padding: 1%;
    margin: 1%;
    text-align: center;
}

.content-userdata-alldata {
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.w3-usersettings {
    max-width: 1200px;
}

.content-userdata-data {
    margin: 1%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
}

.content-userdata-data > input {
    flex: 0 0 200px;
    margin-left: 10px;
}

.blank-userdata {
    width: 5%;
}

.content-userdata-password {
    width: 40%;
    font-size: 20px;
    padding: 3%;
    border: 3px solid #000;
    border-radius: 26px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
    z-index: 2;
    text-align: center;
}

.content-userdata-data-password > input {
    margin: 1%;
    padding: 1%;
    width: 100%;
}

@media only screen and (max-width : 1000px)
    {
      .w3-usersettings {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
      }

      .content-userdata {
        width: 80%;
        }

      .content-userdata-password {
        width: 80%;
      }

      .blank-userdata {
        height: 20px;
      }

      .w3-sett {
        display: flex;
        justify-content: center;
      }
    }

.subjects-choose-form {
    width: 100%;
}

.subject-btn {
    margin-left: 3%;
}

.subjects-content {
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.subjects-major {
    width: 100%;
    padding: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.subjects-major-name {
    margin-right: 1%;
    margin-left: 1%;
}

.subjects-assign {
    padding: 1%;
}

.subjects-assign-table{
    width: 100%;
}

.subjects-assign-table > tr, th {
    font-weight: normal;
    text-align: left;
    padding: 1%;
}

.tasks-content-main {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.task-content {
    margin: 1%;
    padding: 3%;
    border: 1px solid black;
    -webkit-box-shadow: 3px 3px 15px 1px #000000;
    box-shadow: 3px 3px 15px 1px #000000;
}

.task-btn {
    float: right;
}

.assign-info {
   width: 100%;
   text-align: center;
   margin-bottom: 3%;
   font-size: 130%;
}

.subject-teacher-class {
    border: 1px solid black;
    -webkit-box-shadow: 3px 3px 15px 1px #000000;
    box-shadow: 3px 3px 15px 1px #000000;
    display: flex;
    flex-direction: column;
}

.subjects-choose-form-part {
    width: 100%;
    margin-bottom: 1%;
}

.subjects-create-table{
    width: 100%;
    margin-top: 2%;
}

.subjects-assign-table > tr, .subjects-assign-table > th {
    font-weight: normal;
    text-align: left;
    padding: 1%;
    width: 50%;
}

.task_subject-btn {
    width: 100%;
    text-align: center;
}

.create_task_teacher {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.task_div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.task-create-comment {
    width: 80%;
}

.task_div_first {
    margin-bottom: 2%;
}

.task-btn-teacher {
    text-decoration: none;
    float: right;
    padding-left: 1%;
    padding-right: 1%;
}

.home-info {
    font-size: 140%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-info-group {
    padding: 1%;
    display-flex:
    justify-content: left;
    width: 100%;
}

.home-info-btn {
    float: right;
}

.teach-sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 130%;
}

.teach-sub-main {
    display: flex;
    padding: 1%;
    justify-content: left;
    width: 100%;
}

.teach-sub-main-right {
    width: 50px;
}

.teach-sub-table {
    width: 100%;
}

.teach-sub-form {
    width: 100%;
}

textarea {
	width: 88%;
	padding: 2%;
	margin: 2%;
	font-size: 20px;
	resize: none !important;
	appearance: textfield;
}

.important-info {
    background-color: red;
    padding: 1%;
    margin-bottom: 1%;
    border-radius: 20px;
}