{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<title>Zadania</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="home" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Panel główny</a>
    <a href="{% url 'subjects' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Przedmioty</a>
    <a href="{% url 'tasks' %}" class="w3-bar-item w3-button w3-padding-large w3-white">Zadania</a>
    <a href="{% url 'calendar' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Kalendarz</a>
    <div class = "logout-btn ">
      <a href="{% url 'settings' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Konto</a>
      <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Wyloguj się</a>
    </div>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="home" class="w3-bar-item w3-button w3-padding-large">Panel główny</a>
    <a href="{% url 'subjects' %}" class="w3-bar-item w3-button w3-padding-large">Przedmioty</a>
    <a href="{% url 'tasks' %}" class="w3-bar-item w3-button w3-padding-large">Zadania</a>
    <a href="{% url 'calendar' %}" class="w3-bar-item w3-button w3-padding-large">Kalendarz</a>
    <a href="{% url 'settings' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Konto</a>
    <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Wyloguj się</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-center usermainbar" style="padding:128px 16px">
	<div class="przlogo">
    <img src="{% static 'images/logo_prz.png' %}" alt="LogoPRz" class="prz-logo">
  </div>
  <h1 class="w3-margin w3-jumbo">Dodaj zadanie</h1>
</header>
<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="w3-content tasks-content-main create_task_teacher">
            <input type="hidden" value="5" name="hid-btn">
                        <div class="task_div task_div_first">
                            {{ chosen_teacher_sub.SubjectID.majorID.name }} {{ chosen_teacher_sub.SubjectID.name }} {{ chosen_teacher_sub.groupID }}
                        </div>

                        <div class="task_div">
                            <span class="task-create">Nazwa</span>
                        </div>
                        <div class="task_div task_div_first">
                            <input type="text" class="task-create-comment" name="taskname" placeholder={{taskinfo.name}}>
                        </div>

                        <div class="task_div">
                            <span class="task-create">Zmień plik z zadaniem</span>
                        </div>
                        <div class="task_div task_div_first">
                            {{ form }}
                        </div>
                        <div class="task_div">
                            <span class="task-create">Pobierz obecną instrukcję</span>
                        </div>
                        <div class="task_div task_div_first">
                            <a href="/Files/Tasks={{ task_download_url }}"> Pobierz</a>
                        </div>

                        <div class="task_div">
                            <span class="task-create">Komentarz</span>
                        </div>
                        <div class="task_div task_div_first">
                            <textarea class="task-create-comment" name="comment" placeholder={{taskinfo.comment}}></textarea>
                            </input>
                        </div>

                        <div class="task_div">
                            <span>Deadline</span>
                        </div>
                        <div class="task_div task_div_first">
                        {{taskinfo.deadlineDate|date:"d m Y"}}
                        </div>
                        <div class="task_div task_div_first">
                        <input type="date" name="deadline_date"/>
                        </div>



                        <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top" type="submit" name="idsubject" value="{{ chosen_teacher_sub.id }}"> Dodaj zadanie </button>
        </div>
    </form>

</div>

<!-- Footer
<footer class="w3-container przfooter">
</footer> -->

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>