{% load static %}
<!DOCTYPE html>
<html lang="en">
<title>Login</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<style>
.przfooter {
	width: 100%;
	background-color: #00468b;
	height: 120px;
}

</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Strona główna</a>
    <a href="login" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-white">Logowanie</a>
    <a href="register" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Rejestracja</a>
    <a href="contact" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Kontakt</a>

  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="" class="w3-bar-item w3-button w3-padding-large">Strona główna</a>
    <a href="login" class="w3-bar-item w3-button w3-padding-large">Logowanie</a>
    <a href="register" class="w3-bar-item w3-button w3-padding-large">Rejestracja</a>
    <a href="contact" class="w3-bar-item w3-button w3-padding-large">Kontakt</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-center mainbar" style="padding:128px 16px">
    <div class="przlogo">
    <img src="{% static 'images/logo_prz.png' %}" alt="LogoPRz" class="prz-logo">
  </div>
  <h1 class="w3-margin w3-jumbo">ZALOGUJ SIĘ</h1>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">

      <form id="login" method="post">{% csrf_token %}

					<div id="sep"></div>
					<!Pola do wpisania danych logowania>
					<div id="inputs">
						<input class="inp1" type="text" name='username' placeholder="Login"/>
						<input class="inp1" type="password" name='password' placeholder="Hasło" />

					</div>
					<!Przycisk zaloguj>
					<div id="button">
						<button id="submit" href="" class="w3-button w3-black w3-padding-large w3-large w3-margin-top"> Zaloguj </button>
					</div>

					{% for message in messages %}
                    <div class="mess-main">
						<strong>{{ message }}</strong>
                    </div>
					{% endfor %}

			</form>

    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-files-o w3-padding-64"></i>
    </div>
  </div>
</div>

<!-- Footer
<footer class="w3-container przfooter">
</footer> -->

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>


</html>
