{% load static %}
<!DOCTYPE html>
<html lang="en">
<title>Ustawienia {{ request.user }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="home" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Panel główny</a>
    <a href="{% url 'subjects' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Przedmioty</a>
    <a href="{% url 'tasks' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Zadania</a>
    <a href="{% url 'calendar' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Kalendarz</a>
    <div class = "logout-btn ">
      <a href="{% url 'settings' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-white">Konto</a>
      <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Wyloguj się</a>
    </div>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="home" class="w3-bar-item w3-button w3-padding-large">Panel główny</a>
    <a href="{% url 'subjects' %}" class="w3-bar-item w3-button w3-padding-large">Przedmioty</a>
    <a href="{% url 'tasks' %}" class="w3-bar-item w3-button w3-padding-large">Zadania</a>
    <a href="{% url 'calendar' %}" class="w3-bar-item w3-button w3-padding-large">Kalendarz</a>
      <a href="{% url 'settings' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-white">Konto</a>
    <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Wyloguj się</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-center usermainbar" style="padding:128px 16px">
	<div class="przlogo">
    <img src="{% static 'images/logo_prz.png' %}" alt="LogoPRz" class="prz-logo">
  </div>
  <h1 class="w3-margin w3-jumbo">Witaj {{ request.user }} </h1>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container w3-sett">
  <div class="content-settings w3-content w3-usersettings">
    <div class="content-userdata">
      <form id="user-profile-settings" method="post">{% csrf_token %}

        <input type="hidden" value="1" name="hid-btn">
        <div class="content-userdata-title">
            <span>Dane konta {{ request.user }}</span>
        </div>

        <div class="content-userdata-alldata">

            <div class="content-userdata-data">
                <span>Imię</span>
                <input type="text" name="first_name" value={{ request.user.first_name }}>
            </div>
            <div class="content-userdata-data">
                  <span>Nazwisko</span>
                  <input type="text" name="last_name" value={{ request.user.last_name }}>
            </div>
            <div class="content-userdata-data">
                  <span>Email</span>
                  <input type="text" name="email" value={{ request.user.email }}>
            </div>
            {% for i in profiledata %}
            <div class="content-userdata-data">
                  <span>Index</span>
                  <input type="text" name="index" value= {{ i.index }}>
            </div>
            <div class="content-userdata-data">
                  <span>Rok rozpoczęcia nauki</span>
                  <input type="number" name="startcollegeyear" value={{ i.startcollegeyear }}>
            </div>
            <div class="content-userdata-data">
                  <span>Obecny semestr</span>
                  <input type="number" name="currentsemester" value={{ i.currentsemester }}>
            </div>
            <div class="content-userdata-data">
                  <span>Rola</span>
                  <input type="text" name="role" value={{ i.roleID }} disabled>
            </div>
            {% endfor %}
         </div>
          <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top" name="data-change"> Zmień dane </button>
      </form>
    </div>
      <div class="blank-userdata"></div>
      <div class="content-userdata-password">
              <div class="content-userdata-title">
                <span>Zmiana hasła</span>
              </div>
          <form id="pass-update" method="post">{% csrf_token %}
              <input type="hidden" value="2" name="hid-btn">
                 <div class="content-userdata-alldata">
                        <div class="content-userdata-data-password">
                            {{ form_pass.old_password }}
                        </div>
                        <div class="content-userdata-data-password">
                              {{ form_pass.new_password1 }}
                        </div>
                        <div class="content-userdata-data-password">
                              {{ form_pass.new_password2 }}
                        </div>

                </div>
                <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top" name="pass-change"> Zmień hasło </button>
                    {% for field in form_pass %}
                        {% for error in field.errors %}
                         <div class="alert">{{error}}</div>
                        {% endfor %}
                    {% endfor %}

              {% for message in messages %}
                    <div class="mess-main">
						<strong>{{ message }}</strong>
                    </div>
              {% endfor %}


          </form>
      </div>
  </div>
</div>

<!-- Footer
<footer class="w3-container przfooter">
</footer>
-->

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>


</html>
