{% load static %}
<!DOCTYPE html>
<html lang="en">
<title>Przedmioty</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="home" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Panel główny</a>
    <a href="{% url 'subjects' %}" class="w3-bar-item w3-button w3-padding-large w3-white">Przedmioty</a>
    <a href="{% url 'tasks' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Zadania</a>
    <a href="{% url 'calendar' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Kalendarz</a>
    <div class = "logout-btn ">
      <a href="{% url 'settings' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Konto</a>
      <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Wyloguj się</a>
    </div>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="home" class="w3-bar-item w3-button w3-padding-large">Panel główny</a>
    <a href="{% url 'subjects' %}" class="w3-bar-item w3-button w3-padding-large">Przedmioty</a>
    <a href="{% url 'tasks' %}" class="w3-bar-item w3-button w3-padding-large">Zadania</a>
    <a href="{% url 'calendar' %}" class="w3-bar-item w3-button w3-padding-large">Kalendarz</a>
    <a href="{% url 'settings' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Konto</a>
    <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Wyloguj się</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-center usermainbar" style="padding:128px 16px">
	<div class="przlogo">
    <img src="{% static 'images/logo_prz.png' %}" alt="LogoPRz" class="prz-logo">
  </div>
  <h1 class="w3-margin w3-jumbo">Witaj {{ request.user }} </h1>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content subjects-content">
    <h2 style="text-align: center">Dodaj nowy przedmiot</h2>
    <div class="subjects-major subject-teacher-class">
      <form method="post" class="subjects-choose-form">{% csrf_token %}
        <input type="hidden" value="3" name="hid-btn-teacher">
        <div class="teachersubject-add">
          <span class="subjects-major-name">Wybierz kierunek i filtruj</span>
          <select name="major-form">
              <option value="{{ major_form }}">{{ major_form }}</option>
            {% for i in major_list %}
              <option value="{{ i.name }}">{{ i.name }}</option>
            {% endfor %}
          </select>
          <button class="w3-black subject-btn" name="chosen_major" value={{ i.id }}> Filtruj </button>
        </div>
      </form>
      <table class="subjects-create-table">

      <form method="post" class="subjects-choose-form">{% csrf_token %}
        <input type="hidden" value="4" name="hid-btn-teacher">
        <input type="hidden" value="{{ major_form }}" name="secret_major">
          <tr>
            <th><span class="subjects-major-name">Wybierz przedmiot</span></th>
            <th><select name="subject-teacher-form" required>
               {% for j in teacher_subjects_list %}
                 <option value="{{ j.name }}">{{ j.name }}</option>
               {% endfor %}
            </select>
            </th>
          </tr>
          <tr>
            <th><span class="subjects-major-name">Wybierz grupę</span></th>
              <th>
                <select name="group-form" required>
                {% for k in group_list %}
                    <option value="{{ k.id }}">{{ k }}</option>
                  {% endfor %}
                </select>
              </th>
          </tr>

          <tr>
            <th><span class="subjects-major-name">Wybierz semestr</span></th>
          <th><select name="semester-form" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
          </select></th>
          </tr>

        <tr>
          <th><span class="subjects-major-name">Wybierz rok</span></th>
          <th><select name="year-form" required>
            <option value="2018" selected="selected">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
          </select></th>
        </tr>
        <tr>
          <th colspan="2" style="text-align: center;">
            <button class="w3-black subject-btn" name="create_teacher_subject"> Utwórz przedmiot </button>
          </th>
        </tr>

      </form>
      </table>
      {% for message in messages %}
            <div class="alert">
                <strong>{{ message }}</strong>
            </div>
      {% endfor %}
  </div>
</div>

<!-- Footer
<footer class="w3-container przfooter">
</footer>
-->

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>


</html>
