{% load static %}
<!DOCTYPE html>
<html lang="en">
<title>Zadania</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="home" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Panel główny</a>
    <a href="{% url 'subjects' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Przedmioty</a>
    <a href="{% url 'tasks' %}" class="w3-bar-item w3-button w3-padding-large w3-white">Zadania</a>
    <a href="{% url 'calendar' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Kalendarz</a>
    <div class = "logout-btn ">
      <a href="{% url 'settings' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Konto</a>
      <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Wyloguj się</a>
    </div>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="home" class="w3-bar-item w3-button w3-padding-large">Panel główny</a>
    <a href="{% url 'subjects' %}" class="w3-bar-item w3-button w3-padding-large">Przedmioty</a>
    <a href="{% url 'tasks' %}" class="w3-bar-item w3-button w3-padding-large">Zadania</a>
    <a href="{% url 'calendar' %}" class="w3-bar-item w3-button w3-padding-large">Kalendarz</a>
    <a href="{% url 'settings' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Konto</a>
    <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Wyloguj się</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-center usermainbar" style="padding:128px 16px">
	<div class="przlogo">
    <img src="{% static 'images/logo_prz.png' %}" alt="LogoPRz" class="prz-logo">
  </div>
  <h1 class="w3-margin w3-jumbo">Zadania</h1>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content tasks-content-main">
    <form method="post">{% csrf_token %}
      <input type="hidden" value="1" name="hid-btn">
    {% for i in user_assignments %}

      <div class="task-content">
        {{ i.subjectID.SubjectID.name}}
        {{ i.subjectID.groupID}}
        {{ i.subjectID.TeacherOwner.first_name }}
        {{ i.subjectID.TeacherOwner.last_name }}
        <button id="show_tasks" class="w3-black subject-btn task-btn" name="chosen" value={{ i.subjectID.id }}> Pokaż zadania </button>
      </div>
    {% endfor %}
    </form>

    <form method="post">{% csrf_token %}

    <div class="assign-info">
      {% for x in chosen_assignment %}
        {{ x.subjectID.SubjectID.name }}
      {% endfor %}
    </div>

      <input type="hidden" value="2" name="hid-btn">
    {% for j in taskinfo_list %}

      <div class="task-content">
        {{ j.name }}
        {{ j.IdTeacherSubject.subjectID.name }}
        <button class="w3-black subject-btn task-btn" name="chosen_task" value={{ j.id }}> Zobacz </button>
      </div>
    {% endfor %}
    </form>


  </div>
</div>

<!-- Footer
<footer class="w3-container przfooter">
</footer>
-->

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>


</html>
